<div class="code-review" ng-controller="showCodeReview" code-review-Id="<%= review.id %>">

  <div class="request-summary clearfix">
    <div class="row">
      <div class='col-sm-12'>
        <span class='medium blue pull-right'>{{codeReview.title}}</span> 
      </div>
    </div>
  </div>

  <div class="clearfix">
    <span class='value medium-small blue'>Offered Value: <%= review.display_value %> </span>
    <span class='requested-by medium-small padded'>
      Requested By: <%= link_to review.user.name, review.user.github_profile, target: 'new' %> <%= image_tag review.user.profile_pic, class: 'profile' %>
    </span>
  </div>

  <span class='request-actions'>
    <div class='code-review-detail' ng-show='showDetail' ng-bind-html='codeReviewHtml'>
    </div>
    <div class="request-controls">

      <button class='btn btn-default tools summary' ng-click="toggleDetail()">
        <span ng-show='!showDetail'>
          Show Details
        </span>
        <span ng-show='showDetail'>
          Hide Details
        </span>
      </button>

      <span hideifowner="<%= review.id %>" >
        <button class='btn btn-default tools' ng-click="confirmReviewOffer()" ng-class='{disabled: hasOffered , summary: !hasOffered}' hideifoffered reviewid="<%= review.id %>">
          <span>
            Offer Code Review
          </span>
          <span ng-show='hasOffered'>
            Offered
          </span>
        </button>
      </span>

      <span class='owner' showifowner="<%= review.id %>" ng-hide="shouldHideOwnerTools == true">
        <button class='btn btn-default tools accept' ng-click="editCodeReview()"  >
          Edit
        </button>
        <button class='btn btn-default tools delete' ng-click="showDeleteModal()"  >
          Delete
        </button>
      </span>

    </div>
  </span>
</div>
