<div class="review-request" ng-controller="reviewRequestCtrl" setReviewRequestId review-Request-ID="<%= review.id %>" setReviewRequestDetailRaw review-Request-Detail-Raw="<%= review.detail %>" setReviewRequestValue review-request-value="<%= review.value %>" setReviewRequestTitle review-Request-Title="<%= review.title %>">

  <div class="request-summary clearfix">
    <div class="row">
      <div class='col-sm-12'>
        <span class='title pull-right'><a href="/code-reviews/{{reviewRequest.id}}">{{reviewRequest.title}}</a></span> 
      </div>
    </div>
  </div>

  <div class="clearfix">
    <span class='value medium-small blue'>Offered Value: ${{reviewRequest.value/100}} </span>
    <span class='requested-by medium-small padded'>
      Requested By: <%= link_to review.user.name, review.user.github_profile, target: 'new' %> <%= image_tag review.user.profile_pic, class: 'profile' %>
    </span>
  </div>

  <span class='request-actions'>
    <div class='request-detail' ng-show="showDetail" ng-bind-html="reviewRequest.detailHtml">
    </div>
    <div class="request-controls">
      <button class='btn btn-default tools summary' ng-click="toggleDetail()">
        <span ng-show='!showDetail'>
          Show Details
        </span>
        <span ng-show='showDetail'>
          Hide Details
        </span>
      </button>
      <button class='btn btn-default tools' ng-click="confirmReviewOffer('submitOffer', '<%= review.id %>')" ng-class='{disabled: hasOffered || ownedByCurrentUser, summary: !hasOffered}' ng-disabled="hasOffered" ng-hide='ownedByCurrentUser'>
        <span ng-hide='hasOffered || ownedByCurrentUser'>
          Offer Code Review
        </span>
        <span ng-show='hasOffered'>
          Offered
        </span>
      </button>
      <button class='btn btn-default tools' ng-click="editReviewRequest()" ng-show='ownedByCurrentUser'>
        <span>
          Edit
        </span>
      </button>
    </div>
  </span>
</div>
