<% if current_user %>
  <ul class="nav navbar-nav navbar-left">
    <li><%= link_to "signed in as: #{github_username(current_user)}", current_user.github_profile, target: 'new' %></li>
    <%# <li><%= link_to 'SETTINGS', settings_path, class: 'hover-blue' %1></li> %>
    <%# <li><a href="http://blog.antipattern.io" class="hover-blue" target="new">FAQ</a></li> %>
    <li><%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete, class: 'hover-blue' %></li>
  </ul>
<% else %>
  <ul class="nav navbar-nav navbar-left">
    <li><a href="#" class="hover-blue" id='show-faq'>FAQ</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sign In<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to "Sign In With Github - Public Repo Scope", user_omniauth_authorize_path(provider: :github_public_scope) %></li>
        <li><%= link_to "Sign In With Github - Private Repo Scope", user_omniauth_authorize_path(provider: :github_private_scope) %></li>
      </ul>
    </li>
  </ul>
<% end %>
