<div class='container'>
  <div class='row'>
    <div class='col-sm-10 col-sm-offset-2'>
      <div class='row'>
        <div class='col-sm-10 border-bottom no-left-padding'>
          <h3>Open Code Reviews</h3>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-10 text-right no-right-padding'>
          <% @review_requests.each do |review| %>
            <div class="review-request" ng-controller="requestCodeReview">
              <div class="request-summary">
                <span class='title'><%= review.title %></span> 
              </div>
              <div>
                <span class='requested-by summary'>
                  requested by: <%= link_to review.user.name, review.user.github_profile, target: 'new' %>
                </span>

                <span class='value summary blue'>value: <%= review.display_value %></span>
              </div>
              <span class='request-actions'>
                <div class='request-detail'>
                  <%= markdown_to_html review.detail %>
                </div>
                <div class="request-controls">
                  <button class='btn btn-default tools accept' ng-click="confirmReviewOffer('submitOffer', '<%= review.id %>')">Offer Code Review</button>
                </div>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
