<div class='container'>
  <div class='row'>
    <div class='col-sm-10 col-sm-offset-2'>
      <div class='row'>
        <div class='col-sm-10 border-bottom no-left-padding'>
          <h3>Open Code Reviews</h3>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-10 text-right no-right-padding'>
          <% @review_requests.each do |review| %>
            <div class="review-request" ng-controller="requestCodeReview">
              <div class="request-summary clearfix">
                <span class='tools octocat pull-left'><%= fa_icon 'github-square' %></span> 
                <span class='title pull-right'><%= review.title %></span> 
              </div>
              <div class="clearfix">
                <span class='value medium-small blue'>Offered Value: <%= review.display_value %></span>
                <span class='requested-by medium-small padded'>
                  Requested By: <%= link_to review.user.name, review.user.github_profile, target: 'new' %> <%= image_tag review.user.profile_pic, class: 'profile' %>
                </span>

              </div>

              <span class='request-actions'>
                <div class="request-controls">
                  <button class='btn btn-default tools accept' ng-click="toggleDetail()" ng-class="{green: showDetail}">
                    <span ng-show='!showDetail'>
                      Show Details
                    </span>
                    <span ng-show='showDetail'>
                      Hide Details
                    </span>
                  </button>
                  <button class='btn btn-default tools accept' ng-click="confirmReviewOffer('submitOffer', '<%= review.id %>')">Offer Code Review</button>
                </div>
                <div class='request-detail' ng-show="showDetail">
                  <%= markdown_to_html review.detail %>
                </div>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
