<div class="container">
  <div class="row">
    <div class='col-sm-12'>
      <div class="centered splash">
        <span class='medium-med light-grey'>
          Code Reviews can have a profound impact on code quality.
        </span>
      </div>
    </div>
  </div>
</div>

<div class="home-hero centered">
  <div class="home-hero-code-review">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class='col-sm-12'>
      <div class="centered splash">
        <span class='medium-med light-grey'>
          Giving actionable, relevant Code Reviews can be a tricky business.
        </span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class='col-sm-12'>
      <div class="centered splash">
        <span class='medium blue'>AntiPattern.io provides developers with...</span>
        <div class='medium-small '>Tools to improve the process of giving and receiving code feedback.</div>
        <div><%= image_tag 'tools_1.png', class: 'centered product-display' %></div>
        <div><%= image_tag 'tools_2.png', class: 'centered product-display' %></div>
        <%# <div class='medium-small '>A marketplace to exchange time spent code reviewing for financial currency ($, btc, etc)(coming soon).</div> %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class='col-sm-12'>
      <div class="centered splash">
        <div class='top-margined'>
          <span class='medium blue'>AntiPattern.io also provides developers with...</span>
          <div class='medium-small'>A community to surface and promote the world's best Code Reviewers.</div>
          <div class='community-grid top-margined'>
            <% @users.each do |user| %>
              <div class='community-member'><%= image_tag user['profilePic'] %></div>
            <% end %>
          </div>
        </div>
        <%# <div class='medium-small '>A marketplace to exchange time spent code reviewing for financial currency ($, btc, etc)(coming soon).</div> %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class='col-sm-12 centered top-margined'>
      <%= link_to 'VIEW CODE REVIEWS', code_reviews_path, class: 'medium join' %>
    </div>
  </div>
  <div class="row">
    <div class='col-sm-12 centered top-margined'>
      <%= link_to "LOGIN #{fa_icon 'github-alt'}".html_safe, user_omniauth_authorize_path(:github), class: 'medium join' %>
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function(e){
  $('.community-grid').masonry({columnWidth: 40, itemSelector: '.community-member'})
});
</script>
