<div class="container">
  <div class="row">
    <div class='col-sm-12'>
      <div class="centered splash">
        <span class='medium light-grey'>
          Every Code Review is an opportunity to Learn and Teach.
        </span>
      </div>
    </div>
  </div>
</div>

<div class="home-hero centered">
  <div class="home-hero-code-review">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class='col-sm-12'>
      <div class="centered splash">
        <span class='medium light-grey'>
          We are a community committed to Code Reviews.
        </span>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class='col-sm-12'>

      <div class="centered splash">
        <span class='medium grey'>
          1. Request feedback on a specific commit.
        </span>
        <%= image_tag 'request_code_review.png', class: 'centered product-display' %>
      </div>

      <div class="centered splash">
        <span class='medium grey'>
          2. Let the community give you code feedback.
        </span>
        <div class='community-grid'>
          <% @users.each do |user| %>
            <div class='community-member'><%= image_tag user['profilePic'] %></div>
          <% end %>
        </div>
        <%= image_tag 'review_me.png', class: 'centered product-display' %>
      </div>

      <div class="centered splash">
        <span class='medium grey'>
          3. Integrate feedback into your code.
        </span>
        <%= image_tag 'integrate_feedback.png', class: 'centered product-display' %>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class='col-sm-12 centered top-margined'>
      <%= link_to 'VIEW CODE REVIEWS', code_reviews_path, class: 'medium join' %>
    </div>
  </div>
  <div class="row">
    <div class='col-sm-12 centered top-margined'>
      <%= link_to "LOGIN #{fa_icon 'github-alt'}".html_safe, user_omniauth_authorize_path(:github), class: 'medium join' %>
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function(e){
  $('.community-grid').masonry({columnWidth: 40, itemSelector: '.community-member'})
});
</script>
