<div class="container">
  <div class="row">
    <div class='col-sm-12'>
      <div class="centered splash">
        <span class='medium-med blue'>
          Giving actionable, relevant Code Reviews can be a tricky business.
        </span>
      </div>
    </div>
  </div>
</div>

<div class="home-hero centered">
  <div class="home-hero-code-review">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class='col-sm-12'>
      <div class="centered splash">
        <div class='medium-med blue'>AntiPattern.io provides developers with a feedback engine designed to improve individual and organizational communication competencies.</div>
        <div><%= image_tag 'tools_1.png', class: 'centered product-display' %></div>
        <%# <div class='medium-small '>A marketplace to exchange time spent code reviewing for financial currency ($, btc, etc)(coming soon).</div> %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class='col-sm-12'>
      <div class="centered splash">
        <div class='top-margined'>
          <div class='medium blue'>Join the movement.</div>
          <div class='community-grid top-margined'>
            <% @users.each do |user| %>
              <div class='community-member'><%= image_tag user['profilePic'] %></div>
            <% end %>
          </div>
        </div>
        <%# <div class='medium-small '>A marketplace to exchange time spent code reviewing for financial currency ($, btc, etc)(coming soon).</div> %>
      </div>
    </div>
  </div>
</div>

<% if current_user %>
  <div class="container">
    <div class="row">
      <div class='col-sm-12 centered top-margined'>
        <%= link_to "View Comment Feed", comment_feedback_path, class: 'medium join' %>
      </div>
    </div>
    <div class="row">
      <div class='col-sm-12 centered foo-small'>
        <%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete, class: 'red' %>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <div class='col-sm-12 centered top-margined'>
        <%= link_to "LOGIN with PRIVATE & PUBLIC REPO SCOPE #{fa_icon 'github-alt'}".html_safe, user_omniauth_authorize_path(:github_private_scope), class: 'medium join' %>
      </div>
    </div>
  </div>
<% end %>

<script>
document.addEventListener("DOMContentLoaded", function(e){
  $('.community-grid').masonry({columnWidth: 40, itemSelector: '.community-member'})
});
</script>
