<html>
  <body>
    <h3>A Code Review has been disputed</h3>

    <p><%= @code_review_owner.name %>, disputes <%= link_to code_review_url(@code_review), code_review_url(@code_review) %>.</p> 

    <p>Offer made by <%= @offer_owner.name %>, <%= @offer_owner.github_profile %>, offer id: <%= @offer.id %> 

    <p>Please look into this.</p>

    <p>Happy Coding,</p>

    <p><a href="https://github.com/jcdavison">John Davison, Antipattern.io Founder</a></p>
    <p><a href="mailto:jd@antipattern.io?subject=code review offer help">email antipattern.io support</a></p>
  </body>
</html>

