<html>
  <body>
    <h3>Congratuations! It's a Code Review.</h3>

    <p><%= @review_request_owner.name %>, has accepted the offer to review code made by <%= @offer_owner.name %>.</p>
    <p>Please use the email addresses provided here to communicate among yourselves to arrange for delivery of the code review.</p>
    <p>Once the code review has been completed, <%= @offer_owner.name %> should visit <%= link_to code_review_url(@code_review), code_review_url(@code_review) %> and click the deliver button. Once <%= @review_request_owner.name %> clicks the 'accept' button the value of the code review will be paid. </p> 

    <p>Thanks,</p>

    <p><a href="https://github.com/jcdavison">John Davison, Antipattern.io Founder</a></p>
    <p><a href="mailto:jd@antipattern.io?subject=code review offer help">email antipattern.io support</a></p>
  </body>
</html>
