<!DOCTYPE html>
<html lang="en">
<head>
  <title>Antipattern</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'disable_transition' if Rails.env.test? %>
  <%= csrf_meta_tags %>
  <meta name="twitter:widgets:csp" content="on">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  <%= render 'shared/navigation' %>
  <%= yield %>

  <%= render 'shared/footer' %>
  <%= render 'shared/modals/ng_modals' %>
  <%= render 'shared/modals/react_modals' %>
  <%= javascript_include_tag 'application' %>
  <% if Rails.env.production? %>
    <%= render 'shared/social_libraries' %>
    <%= render 'shared/google_analytics' %>
  <% end %>
</body>
</html>
