<!DOCTYPE html>
<html>
<head>
  <title>Antipattern</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/navigation' %>
  <%= yield %>
  <%= render 'shared/modals/please_login_modal' %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
