<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
  <title>Antipattern</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="twitter:widgets:csp" content="on">
</head>
<body ng-controller="appController" ng-cloak>
  <%= render 'shared/navigation' %>
  <%= yield %>

  <%= render 'shared/footer' %>
  <%= render 'shared/modals/ng_modals' %>
  <%= render 'shared/stripe' %>
  <%= render 'shared/social_libraries' %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
