<!DOCTYPE html>
<html lang="en" ng-app="App">
<html>
  <head>
    <title>ScaleChange</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/navigation' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
